# Practical 3
# Name- Om Gatlewar
# Roll No-55

In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [5]:
d1=pd.read_csv('Diabetes.csv')

In [6]:
d1.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [7]:
d1.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [8]:
d1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [9]:
d=d1.loc[(d1['Glucose']!=0) & (d1['BloodPressure']!=0) & 
           (d1['SkinThickness']!=0) & (d1['Insulin']!=0) & (d1['BMI']!=0)]

In [10]:
d.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000
mean,3.301020,122.627551,70.663265,29.145408,156.056122,33.086224,0.523046,30.864796,0.331633
std,3.211424,30.860781,12.496092,10.516424,118.841690,7.027659,0.345488,10.200777,0.471401
min,0.000000,56.000000,24.000000,7.000000,14.000000,18.200000,0.085000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,21.000000,76.750000,28.400000,0.269750,23.000000,0.000000
50%,2.000000,119.000000,70.000000,29.000000,125.500000,33.200000,0.449500,27.000000,0.000000
75%,5.000000,143.000000,78.000000,37.000000,190.000000,37.100000,0.687000,36.000000,1.000000
max,17.000000,198.000000,110.000000,63.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [11]:
d.info()

<class 'pandas.core.frame.DataFrame'>
Index: 392 entries, 3 to 765
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               392 non-null    int64
 1   Glucose                   392 non-null    int64
 2   BloodPressure             392 non-null    int64
 3   SkinThickness             392 non-null    int64
 4   Insulin                   392 non-null    int64
 5   BMI                       392 non-null    float64
 6   DiabetesPedigreeFunction  392 non-null    float64
 7   Age                       392 non-null    int64
 8   Outcome                   392 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 30.6 KB

In [12]:
d1['Glucose'].replace(0,d['Glucose'].mean(),inplace=True)
d1['BloodPressure'].replace(0,d['BloodPressure'].mean(),inplace=True)
d1['SkinThickness'].replace(0,d['SkinThickness'].mean(),inplace=True)
d1['Insulin'].replace(0,d['Insulin'].mean(),inplace=True)
d1['BMI'].replace(0,d['BMI'].mean(),inplace=True)

In [13]:
d1.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,121.692888,72.325800,29.151052,155.795560,32.466469,0.471876,33.240885,0.348958
std,3.369578,30.436043,12.101807,8.790943,85.021487,6.875558,0.331329,11.760232,0.476951
min,0.000000,44.000000,24.000000,7.000000,14.000000,18.200000,0.078000,21.000000,0.000000
25%,1.000000,99.750000,64.000000,25.000000,121.500000,27.500000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,29.145408,156.056122,32.400000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,156.056122,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [14]:
d1.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148.0,72.0,35.000000,156.056122,33.6,0.627,50,1
1,1,85.0,66.0,29.000000,156.056122,26.6,0.351,31,0
2,8,183.0,64.0,29.145408,156.056122,23.3,0.672,32,1
3,1,89.0,66.0,23.000000,94.000000,28.1,0.167,21,0
4,0,137.0,40.0,35.000000,168.000000,43.1,2.288,33,1

In [15]:
d1.corr()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
Pregnancies,1.000000,0.127849,0.208850,0.082926,0.056535,0.021589,-0.033523,0.544341,0.221898
Glucose,0.127849,1.000000,0.219028,0.192985,0.419998,0.230189,0.137004,0.266453,0.492948
BloodPressure,0.208850,0.219028,1.000000,0.192796,0.072908,0.281531,-0.001108,0.325860,0.164509
SkinThickness,0.082926,0.192985,0.192796,1.000000,0.158154,0.542239,0.101030,0.127780,0.215277
Insulin,0.056535,0.419998,0.072908,0.158154,1.000000,0.166212,0.098136,0.137366,0.214532
BMI,0.021589,0.230189,0.281531,0.542239,0.166212,1.000000,0.153238,0.025207,0.311446
DiabetesPedigreeFunction,-0.033523,0.137004,-0.001108,0.101030,0.098136,0.153238,1.000000,0.033561,0.173844
Age,0.544341,0.266453,0.325860,0.127780,0.137366,0.025207,0.033561,1.000000,0.238356
Outcome,0.221898,0.492948,0.164509,0.215277,0.214532,0.311446,0.173844,0.238356,1.000000

In [16]:
x=d1.iloc[:,0:8]

In [17]:
y=d1.iloc[:,-1] #y=d1.iloc[:,8]

In [18]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=0)

In [19]:
#feature Scaling  
from sklearn.preprocessing import StandardScaler    
st_x= StandardScaler()    
x_train= st_x.fit_transform(x_train)    
x_test= st_x.transform(x_test)

In [20]:
#Fitting K-NN classifier to the training set  
from sklearn.neighbors import KNeighborsClassifier  
KNNclassifier= KNeighborsClassifier(n_neighbors=5, metric='minkowski',p=2)  # Hyper Parameter
KNNclassifier.fit(x_train, y_train)

KNeighborsClassifier()

In [21]:
#Predicting the test set result  
y_pred= KNNclassifier.predict(x_test)
print(y_pred)

[1 1 0 1 0 0 1 1 1 0 1 1 0 0 0 0 1 0 0 0 0 0 0 0 0 1 0 1 0 0 1 0 0 1 0 1 0
 0 0 1 0 0 0 1 1 0 0 0 0 0 1 0 1 0 0 0 0 1 0 1 1 0 0 1 1 1 1 0 0 0 0 1 0 1
 1 0 0 1 0 0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 1 0 0 0 1 1 0 0 0 0 1 0 0 0 0 1 0
 1 1 1 0 0 0 0 0 1 0 1 0 0 0 0 0 0 0 0 1 0 0 0 1 1 0 0 1 0 0 1 0 0 1 0 0 0
 0 0 0 0 0 0]

In [22]:
#Creating the Confusion matrix  
from sklearn.metrics import confusion_matrix  
cm= confusion_matrix(y_test, y_pred)

In [23]:
print(cm)

[[89 18]
 [17 30]]

In [24]:
from sklearn import metrics
print("accuracy",metrics.accuracy_score(y_test,y_pred))

accuracy 0.7727272727272727

In [25]:
from sklearn.metrics import classification_report
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.84      0.83      0.84       107
           1       0.62      0.64      0.63        47

    accuracy                           0.77       154
   macro avg       0.73      0.74      0.73       154
weighted avg       0.77      0.77      0.77       154

# K Fold

In [26]:
import sklearn.metrics as metrics
from sklearn.metrics import accuracy_score 
from sklearn.model_selection import KFold
from sklearn import model_selection
kfold = KFold(n_splits=6)
cv_results = model_selection.cross_val_score(KNNclassifier, x, y, cv=kfold)

In [27]:
print(cv_results)

[0.6875    0.6796875 0.6875    0.7265625 0.8046875 0.703125 ]

In [28]:
print(cv_results.mean())

0.71484375

# GridSearchCV

In [29]:
from sklearn.model_selection import GridSearchCV
parameters = {'n_neighbors': range(30),
              'metric':['manhattan','euclidean']}        
c1 = KNeighborsClassifier()  
grid = GridSearchCV(c1, parameters, cv=10)
grid.fit(x,y)
print(grid.best_params_)
print(grid.best_estimator_)

{'metric': 'manhattan', 'n_neighbors': 15}
KNeighborsClassifier(metric='manhattan', n_neighbors=15)

C:\ProgramData\anaconda3\Lib\site-packages\sklearn\model_selection\_validation.py:378: FitFailedWarning:
20 fits failed out of a total of 600.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
20 fits failed with the following error:
Traceback (most recent call last):
  File "C:\ProgramData\anaconda3\Lib\site-packages\sklearn\model_selection\_validation.py", line 686, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\ProgramData\anaconda3\Lib\site-packages\sklearn\neighbors\_classification.py", line 213, in fit
    self._validate_params()
  File "C:\ProgramData\anaconda3\Lib\site-packages\sklearn\base.py", line 600, in _validate_params
    validate_parameter_constraints(
  File "C:\ProgramData\anaconda3\Lib\site-packages\sklearn\utils\_param_validation.py", line 97, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'n_neighbors' parameter of KNeighborsClassifier must be an int in the range [1, inf) or None. Got 0 instead.

  warnings.warn(some_fits_failed_message, FitFailedWarning)
C:\ProgramData\anaconda3\Lib\site-packages\sklearn\model_selection\_search.py:952: UserWarning: One or more of the test scores are non-finite: [       nan 0.70444293 0.72144566 0.7018797  0.71093643 0.72011278
 0.7343985  0.73703008 0.73573137 0.73441558 0.74478811 0.75128161
 0.74478811 0.75784347 0.74615516 0.75922761 0.75538278 0.75408407
 0.74885509 0.75013671 0.75276828 0.74625769 0.74236159 0.74629187
 0.75020506 0.75541695 0.74497608 0.75541695 0.75146958 0.748838
        nan 0.69531784 0.7252905  0.70963773 0.72137731 0.71223513
 0.72274436 0.71628503 0.73832878 0.7345352  0.73967874 0.73579973
 0.74227614 0.73581681 0.74232741 0.73708134 0.73843131 0.73585099
 0.73711552 0.73714969 0.74101162 0.73971292 0.73579973 0.73838004
 0.7410458  0.7371326  0.73976418 0.74106288 0.74369446 0.73976418]
  warnings.warn(

In [30]:
print(grid.best_score_)
print(grid.best_params_)
print(grid.best_estimator_)

0.7592276144907724
{'metric': 'manhattan', 'n_neighbors': 15}
KNeighborsClassifier(metric='manhattan', n_neighbors=15)